extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  include parts/header
  include parts/carousel
  .home-instructions
    .home-introduction-text
      p.home-instructions-paragraph
        | Craftsmanship. Heritage. Excellence. 
        | These are the words that define us. These are the words that guide us. 
        | We hope you enjoy this sampling of our work. 
  .kitchens
    h2 Kitchens
      .line
  .home-collection-item
    div.list-collection
      div.hsi-background.fade-in 
      ul.tabs-menu#tabs-menu   
        //- li.list-item menu1
        //- li.list-item mwnu2
        //- li.list-item mwnu3
        //- li.list-item menu4
        //- li.list-item menu5
        //- li.list-item menu6
        //- li.list-item menu7
  .kitchens      
    h2 Bathrooms & Dressing Rooms
      .line
  .home-collection-item
    div.list-collection
      div.hsi-background.fade-in 
      ul.tabs-menu#tabs-menu
        li Bathrooms1
        li Bathrooms2
        li Bathrooms3
        li Bathrooms4
  .kitchens      
    h2 The Home
      .line
  .home-collection-item
    div.list-collection
      div.hsi-background.fade-in 
      ul.tabs-menu#tabs-menu
        li paneling, family rooms, mud rooms, etc.  
  include parts/upload       
  include parts/footer