extends layout

block content
  //-  h1= title
  //- p Welcome to #{title}
  include parts/header
  .container 
    .login-title
        <i class="bi bi-box-arrow-in-right"></i> LOGIN #{status}
    .login-form
        form.form-floating.login-form(name='login-form', action='/admin', method='POST')
            .mb-3
                //- label.form-label(for='exampleInputEmail1') Email address
                //- <label for="exampleInputEmail1">Invalid input</label>
                if(status == 'invalid email')
                    label.form-label.error-msg(for='exampleInputPassword1') Email Invalid
                    input#exampleInputEmail1.is-invalid.form-control(type='email', aria-describedby='emailHelp', name='email', placeholder="name@example.com")
                    label.form-label(for='exampleInputPassword1') Password
                    input#exampleInputPassword1.form-control(type='password', name='password')
                if(status == 'invalid password')
                    label.form-label(for='exampleInputEmail1') Email
                    input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', name='email', placeholder="name@example.com")
                    label.form-label.error-msg(for='exampleInputPassword1') Password Invalid
                    input#exampleInputPassword1.is-invalid.form-control(type='password', name='password')
                if(status == 'invalid email and password')
                    label.form-label.error-msg(for='exampleInputEmail1') Email Invalid
                    input#exampleInputEmail1.is-invalid.form-control(type='email', aria-describedby='emailHelp', name='email', placeholder="name@example.com")
                    label.form-label.error-msg(for='exampleInputPassword1') Password Invalid
                    input#exampleInputPassword1.is-invalid.form-control(type='password', name='password')
            .mb-3.form-check
                input#exampleCheck1.form-check-input(type='checkbox')
                label.form-check-label(for='exampleCheck1') Check me out
            button.btn.btn-primary(type='submit') Login   
  include parts/footer