@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100&family=Open+Sans:wght@300&family=PT+Serif&display=swap');

:root {
  --yellow: #f5df4d;
  --black: #000000;
  --white: #fff;
}

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
  
}
a {
  /* color: #00B7FF; */
  font-family: 'PT Serif', serif;
  /* font-family: 'Open Sans', sans-serif; */
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
}
input, textarea {
  color: var(--white)!important;
}

/* HEADER BLOCK */
nav {
  width: 100%;
}
nav .logo {
  width: 5em;
}
.custom-nav li {
  margin: 0 1em;
  position: relative;
}
nav .custom-nav li a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

nav .custom-nav li a:hover {
  /* color: #cccccc; */
  color: #f5df4d;
  transition: .5s;
  /* border-bottom: 1px solid; */
}
nav .custom-nav li a:after {
  content: '';
  width: 0;
  height: 1px;
  bottom: -0.5em;
  position: absolute;
  left: 0;
  transition: .3s;
  background: #f5df4d;
}
nav .custom-nav li a:hover:after {
  width: 100%;
  background: #f5df4d;
}
nav .custom-nav-collapse {
  flex-grow: 0;
}
.active {
  color: #f5df4d!important;
  /* border-bottom: 1px solid #f5df4d; */
}
.active:before {
  content: '';
  width: 100%;
  height: 1px;
  bottom: -0.5em;
  position: absolute;
  left: 0;
  transition: .3s;
  background: #f5df4d;
}
.contacts a {
  color: var(--white);
  text-decoration: none;
  margin: 0 1em;
  transition: .5s;
  position: relative;
}
.contacts a:hover {
  color: #f5df4d;
}
.contacts a:after {
  content: '';
  width: 0;
  height: 1px;
  bottom: -0.5em;
  position: absolute;
  left: 0;
  transition: .3s;
  background: #f5df4d;
}
.contacts a:hover:after {
  width: 100%;
  /* position: absolute; */
  background: #f5df4d;
}

/* .myModal,.modal-dialog{
  z-index: 999999!important;
} */
.modal-backdrop {
  z-index: 1!important;
}
.my-modal {
  background: rgba(0, 0, 0, 0.5)!important;
  z-index: 999;
}
.modal-header {
  background: rgba(0, 0, 0, 0.9)!important;
  width: 100%;
}
.modal-title {
  color:var(--white);
}
.modal-title span {
  text-align: center;
}
.modal-body form input,textarea {
  background: rgba(0, 0, 0, 0.5)!important;
  margin: 1em 0;
}
.modal-footer {
  background: rgba(0, 0, 0, 0.9)!important;
}
.send-form {
  background: var(--yellow)!important;
  color: var(--black)!important;
}
.close-form {
  background: rgba(255, 255, 255, 0.7)!important;
}
/* CAROUSEL BLOCK */
/* .carousel ul {
  padding: 0;
  margin: 0;
}
.carousel ul li {
  list-style: none;
  position: relative;
  display: flex;
  overflow: hidden;
}
.carousel img {
  width: 100%;
} */
.carousel-item img {
  height: 100vh!important;;
}
.carousel-inner {
  position: relative;
}
.carousel-inner h1 {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  color: #fff;
  padding: 1em;
  font-size: 58px;
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid;
  border-bottom: 1px solid;
  z-index: 2;
}


/* HOME INSTRUCTIONS */
.home-instructions {
  position: relative;
  border: 60px solid #fff;
  border-bottom: 0!important;
  background-position: 0 0,50% 50%;
  background-size: auto,cover;
  background-repeat: repeat,no-repeat;
  background-attachment: scroll,fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.29) 53%, rgba(0, 0, 0, 0.29) 98%), url(/images/home2.jpg);
}
.home-introduction-text {
  position: relative;
  padding: 130px 20px;
  margin: auto;
  width: 50%;
  min-width: 300px;
}
.home-introduction-text p {
  font-family: 'Engravers Gothic BT',sans-serif;
  letter-spacing: 3px;
  text-transform: lowercase;
  display: block;
  margin-top: 0;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  /* opacity: 0; */
  /* add opacity to 1 when scroll down */
}
.home-instructions-paragraph {
  opacity: 0;
  
}
.fade-in {
  opacity: 1;
  transition: 5s;
}
.fade-out {
  opacity: 0;
  transition: 1s;
}

/* tab block kitchen */
.kitchens {
  padding: 5em 0;
  text-align: center;
}
.line {
  display: block;
  width: 300px;
  max-width: 80%;
  height: 1px;
  margin: 20px auto 16px;
  background-color: #b38b4d;
  text-align: center;
}
.home-collection-item .hsi-background.fade-in {
  opacity: 1;
}
.home-collection-item {
  position: relative;
}
.list-collection {
  padding: 0;
}
.hsi-background {
   padding: 20em 0;
   list-style: none;
   transition: 2s;
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  -webkit-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -kthtml-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  opacity: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.29) 53%, rgba(0, 0, 0, 0.29) 98%), url(/images/home1.jpg);
}
.tabs-menu {
  /* padding: 3em 0; */
  background: rgba(0, 0, 0, 0.29);
  /* top: 50%; */
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #fff;
  list-style: none;
  transition: all 2s;
}
.tabs-menu li {
  cursor: pointer;
  transition: all 2s;
}
/* our work */
.potrfolio-section {
  position: relative;
}
.potrfolio-section:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.29);
  position: absolute;
  top: 0;
}
.potrfolio-title {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  color: #fff;
  z-index: 2;
  
  transition:all 0.5s;
}

.portfolio-title:before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1,0);
	transform: scale(1,0);
}


.potrfolio-section a {
  position: relative;
  background-size: cover;
  background-position: 50%;
  min-height: 430px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
}
.potrfolio-section a img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  -o-object-fit: cover;
  object-fit: cover;
  outline: none;
  border: none;
  box-shadow: none;
}




/* FOOTER */
.footer-top {
  color: #fff;
  padding: 1em 0;
  border-bottom: 1px solid #000;
}
.footer-top h4 {
  margin-bottom: 1em;
}

.footer-bottom {
  padding: 1em 0;
}
.info {
  color: #fff;
}
.info a {
  color: yellow;
}


/* FOOTER */
.navigation ul, .social ul {
  padding: 0;
}
.navigation ul li, .social ul li {
  list-style: none;
  cursor: pointer;
}
.navigation ul li a, .social ul li a {
  text-decoration: none;
  color: var(--white);
}
.navigation ul li a:hover {
  color: var(--yellow);
}
.active-footer {
  color: var(--yellow)!important;
}
.social ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social ul li {
  font-size: 35px;
}
.social ul li a:hover {
  color: var(--yellow);
}
.contact-info ul {
  padding: 0;
}
.contact-info ul li {
  list-style: none;
}
.contact-info ul li a {
  text-decoration: none;
  color: var(--white);
}
.contact-info ul li a:first-child:hover, .contact-info ul li a:nth-child(2):hover, .contact-info ul li a:nth-child(3):hover {
  color: var(--yellow);
}
.contact-info ul li i {
  margin-right: .5em;
}