.carousel
    #carouselExampleFade.carousel.slide.carousel-fade(data-bs-ride='carousel')
        .carousel-inner
            .carousel-item.active
                img.d-block.w-100(src='/images/home1.jpg' alt='...')
            .carousel-item
                img.d-block.w-100(src='/images/home2.jpg' alt='...')
            .carousel-item
                img.d-block.w-100(src='/images/home3.jpg' alt='...')
            .carousel-item
                img.d-block.w-100(src='/images/home4.jpg' alt='...')
            .carousel-item
                img.d-block.w-100(src='/images/home5.jpg' alt='...')
            .carousel-item
                img.d-block.w-100(src='/images/home6.jpg' alt='...')
        button.carousel-control-prev(type='button' data-bs-target='#carouselExampleFade' data-bs-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden Previous
        button.carousel-control-next(type='button' data-bs-target='#carouselExampleFade' data-bs-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden Next