footer.bg-dark
    .container
        .footer-top.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-md-between
            .contact-info
                h4 Contact Info
                hr
                ul
                    li <i class="bi bi-geo-alt"></i> We are available to answer any questions you may have:
                    li 257 Ely Ave, Norwalk CT 06854
                    li semtaccd@gmail.com
                    li +1 (917) 705 0712
            .navigation
                h4 Navigation
                hr
                ul
                    li Home
                    li About
                    li Potrfolio
                    li Contact Us
            .social
                h4 Follow Us
                hr
                ul
                    li facebook icon
                    li instagram icon
                    li so on...
                    li so on...
        .footer-bottom.border-top
            .info 
                | &copy; Copyright 
                a(href='/') SEMTA
                |  2021. All rights reserved.
