footer.bg-dark
    .container
        .footer-top.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-md-between
            .contact-info
                h4 Contact Info
                hr
                ul
                    li We are available to answer any questions you may have:
                    li 
                        a(href="http://maps.google.com/?q=257 Ely Ave, Norwalk CT 06854", target="_blank")
                            i.bi.bi-geo-alt 
                            i 257 Ely Ave, Norwalk CT 06854
                    li
                        a(href="mailto:semtaccd@gmail.com") 
                            i.bi.bi-envelope 
                            i semtaccd@gmail.com
                    li 
                        a(href="tel:+19177050712")
                            i.bi.bi-telephone 
                            i (917) 705 0712
            .navigation
                h4 Navigation
                hr
                ul.custom-nav
                    each navLink in nav
                        li 
                            a(class=(PageId === navLink.name ? "active-footer" : undefined) href=`${navLink.link}`)=navLink.text 
            .social
                h4 Follow Us
                hr
                ul
                    li 
                        a(href="")
                            i.bi.bi-facebook
                    li 
                        a(href="")
                            ii.bi.bi-instagram
                    //- li so on...
                    //- li so on...
                br
                br
        .footer-bottom.border-top
            .info 
                | &copy; Copyright 
                a(href='/') SEMTA
                |  2021. All rights reserved.
