header.sticky-top.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-md-between.border-bottom
  nav.navbar.navbar-expand-lg.bg-dark
    .container
      a.navbar-brand(href='/')
        - const img = "/images/logo.png"
        img.logo(src=img alt='semtaccd')
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarScroll' aria-controls='navbarScroll' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarScroll.collapse.navbar-collapse.custom-nav-collapse
        ul.navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll.custom-nav
          each navLink in nav
            li 
              a(class=(PageId === navLink.name ? "active" : undefined) href=`${navLink.link}`)=navLink.text 
        .d-flex.d-block.d-sm-none.contacts
          a(href='tel:+19177050712') 917-705-0712
          a(href='') Book Online
      .d-flex.d-none.d-sm-block.d-sm-none.d-md-block.contacts
        a(href='tel:+19177050712') 
          i.bi.bi-telephone 
          span 917-705-0712
        a(href='javascript:void(0)', data-bs-toggle='modal', data-bs-target='#exampleModal')
          i.bi.bi-circle-half
          span  Book Online
        //- button.btn.btn-primary(type='button', data-bs-toggle='modal', data-bs-target='#exampleModal')
        //-   | Launch demo modal  
        #exampleModal.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')  
          .modal-dialog
            .modal-content.myModal
              .modal-header
                h5#exampleModalLabel.modal-title Modal title
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
              modal-body
              | ...
              .modal-footer
                button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                button.btn.btn-primary(type='button') Save changes
